# Ignore virtual environment
venv/
env/
.venv/
.env


# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore SQLite database files
*.sqlite3
*.dbsqlite

# Ignore log and temporary files
*.log
*.tmp
*.swp

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
