{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-resetpassword">
        <h1>Reset Password for {{ user.username }}</h1>
        <form method="POST" class="reset-form">
            {% csrf_token %}
            
            <!-- Old Password Field -->
            <div class="form-group">
                <label for="old_password">Old Password:</label>
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- New Password Field -->
            <div class="form-group">
                <label for="new_password">New Password:</label>
                {{ form.new_password1 }}
                {% for error in form.new_password.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- Confirm New Password Field -->
            <div class="form-group">
                <label for="new_password2">Confirm New Password:</label>
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="reset-password-btn">Reset Password</button>
        </form>
    </div>
{% endblock %}
